@import '../../../app/styles/shared.css';

.Reply {
	background-color: var(--neutral-white);
	border-radius: 5px;
	padding: 1rem;
	font-size: 13px;
	min-width: 565px;
	max-height: 100px;
}

.Reply__input {
	width: 100%;
	border: 2px solid var(--neutral-light-gray);
	border-radius: 5px;
	margin: 0 1rem;
	height: 70px;
	resize: none;
}
.Reply__input::placeholder {
	font-family: 'Rubik', sans-serif;
	padding: 0.5rem 0 0 0.5rem;
}

.Reply__button {
	text-transform: uppercase;
	color: var(--neutral-white);
	font-weight: 500;
	background-color: var(--primary-moderate-blue);
	border: none;
	padding: 0px 25px;
	border-radius: 5px;
	cursor: pointer;
	max-height: 50px;
}
