@import '../../../app/styles/shared.css';

.Reply {
	background-color: var(--neutral-white);
	border-radius: 5px;
	padding: 1rem;
	font-size: 13px;
	min-width: 650px;
	min-height: 140px;
}

.Reply__input {
	width: 100%;
	border: 2px solid var(--primary-moderate-blue);
	border-radius: 5px;
	margin: 0 1rem;
	min-height: 130px;
	resize: none;
}

.Reply__button {
	text-transform: uppercase;
	color: var(--neutral-white);
	font-weight: 500;
	background-color: var(--primary-moderate-blue);
	border: none;
	padding: 0px 25px;
	border-radius: 5px;
	cursor: pointer;
	max-height: 50px;
}
