@import '../../../app/styles/shared.css';

.MessageBubble {
	background-color: var(--neutral-white);
	border-radius: 5px;
	padding: 1rem;
	font-size: 13px;
	max-width: 565px;
}
.MessageBubble.isMobile {
	width: 250px;
}

.MessageBubble__header img {
	width: 40px;
	height: 40px;
}

.MessageBubble__header {
	display: flex;
	align-items: center;
}

.MessageBubble__header.isMobile {
	display: flex;
	align-items: center;
}

.MessageBubble__header.MessageBubble__header .Avatar,
.MessageBubble__header.MessageBubble__header .Handle {
	margin-right: 1rem;
}

.Handle {
	color: var(--neutral-dark-blue);
	font-weight: 500;
}

.Date {
	color: var(--neutral-grayish-blue);
}

.MessageBubble__content,
.MessageBubble__footer {
	margin-top: 1rem;
}

.MessageBubble__content {
	color: var(--neutral-grayish-blue);
	line-height: 1.4;
}

.MessageBubble__footer {
	display: flex;
	justify-content: space-between;
}
